<!--
INF601 - Advanced Programming in Python
Assignment: Mini Project 3
I,     Levi Eck    , affirm that the work submitted for this assignment is entirely my own. I have not engaged in any form of academic dishonesty, including but not limited to cheating, plagiarism, or the use of unauthorized materials. I have neither provided nor received unauthorized assistance and have accurately cited all sources in adherence to academic standards. I understand that failing to comply with this integrity statement may result in consequences, including disciplinary actions as determined by my course instructor and outlined in institutional policies. By signing this statement, I acknowledge my commitment to upholding the principles of academic integrity.

INF601 - Advanced Programming in Python
Levi Eck
Mini Project 3
-->

{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Game Entry{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    <label for="title">Game Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>

    <label for="publisher">Publisher</label>
    <input name="publisher" id="publisher" value="{{ request.form['publisher'] }}" required>

    <label for="release">Release Date</label>
    <input type="date" name="release" id="release" value="{{ request.form['release'] }}" required>

    <label for="photo">Upload Box Art:</label>
    <input type="file" name="photo" id="photo" accept="image/*">


    <input type="submit" value="Save">
  </form>
{% endblock %}