 <!--
INF601 - Advanced Programming in Python
Assignment: Mini Project 3
I,     Levi Eck    , affirm that the work submitted for this assignment is entirely my own. I have not engaged in any form of academic dishonesty, including but not limited to cheating, plagiarism, or the use of unauthorized materials. I have neither provided nor received unauthorized assistance and have accurately cited all sources in adherence to academic standards. I understand that failing to comply with this integrity statement may result in consequences, including disciplinary actions as determined by my course instructor and outlined in institutional policies. By signing this statement, I acknowledge my commitment to upholding the principles of academic integrity.

INF601 - Advanced Programming in Python
Levi Eck
Mini Project 3
-->

{% extends 'base.html' %}

{% block header %}
  {% if g.user %}
    <h1>{% block title %}My Games{% endblock %}</h1>
  {% endif %}

  <!--NEW BUTTON-->
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.index_pub') }}">Sort by Publisher</a>
  {% endif %}
  <!--END OF NEW BUTTON-->
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">Add Game</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% if g.user %}
    {% for post in posts %}
      <article class="post">
        <header>
          <div>
            <h1>{{ post['title'] }}</h1>
            <!--
            <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
            -->
          </div>
          {% if g.user['id'] == post['author_id'] %}
            <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
          {% endif %}
        </header>
        <p class="publisher">{{ post['publisher'] }}</p>
        <p class="publisher">{{ post['release'] }}</p>
        <img style="max-width: 200px; max-height: 200px" src="./static/uploads/{{post['image_filename']}}" alt="{{post['image_filename']}}">
      </article>
      {% if not loop.last %}
        <hr>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}